In [251]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [252]:
# Loading data
df_cpi = pd.read_csv("LR.csv")
df_cpi.head()

,year,Quarter,Total hourly rates of pay Private and Public,Percent increase,Perecentage increase
0,1997,3,66.6,0.0,0
1,1997,4,67.2,0.7,1
2,1998,1,67.8,0.9,1
3,1998,2,68.3,0.4,1
4,1998,3,68.8,1.2,1

In [253]:
#df_cpi = df_cpi.drop(columns=["Unnamed: 4"])

In [254]:
df_cpi.head()

,year,Quarter,Total hourly rates of pay Private and Public,Percent increase,Perecentage increase
0,1997,3,66.6,0.0,0
1,1997,4,67.2,0.7,1
2,1998,1,67.8,0.9,1
3,1998,2,68.3,0.4,1
4,1998,3,68.8,1.2,1

In [255]:
df_cpi.shape

(103, 5)

In [256]:
df_cpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 5 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   year                                          103 non-null    int64
 1   Quarter                                       103 non-null    int64
 2   Total hourly rates of pay Private and Public  103 non-null    float64
 3   Percent increase                              103 non-null    float64
 4   Perecentage increase                          103 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 4.1 KB

In [257]:
df_cpi.isnull().sum()

year                                            0
Quarter                                         0
Total hourly rates of pay Private and Public    0
Percent increase                                0
Perecentage increase                            0
dtype: int64

In [258]:
# Define features set
X = df_cpi.copy()
X.drop("Perecentage increase", axis=1, inplace=True)
X.head()

,year,Quarter,Total hourly rates of pay Private and Public,Percent increase
0,1997,3,66.6,0.0
1,1997,4,67.2,0.7
2,1998,1,67.8,0.9
3,1998,2,68.3,0.4
4,1998,3,68.8,1.2

In [259]:
 # Define target vector
y = df_cpi["Perecentage increase"].values.reshape(-1, 1)
y[:5]

array([[0],
       [1],
       [1],
       [1],
       [1]], dtype=int64)

In [260]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [261]:
 # Create the StandardScaler instance
scaler = StandardScaler()

In [262]:
 # Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

In [263]:
# Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [264]:
 # Create the random forest classifier instance
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [265]:
rf_model = RandomForestRegressor()

In [266]:
 # Fit the model and use .ravel()on the "y_train" data. 
rf_model = rf_model.fit(X_train_scaled, y_train)

c:\Users\Conor\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [267]:
 # Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [268]:
# Create a logistic regression model
classifier = LogisticRegression(solver='lbfgs', max_iter=600, random_state=1)

# Fit and train the model using the training data
classifier.fit(X_train, y_train)

c:\Users\Conor\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(max_iter=600, random_state=1)

In [269]:
# Make predictions
predictions = classifier.predict(X_test)

In [270]:
# Confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=['Actual - Percent Decrease', 'Actual - Decrease'], columns=['Predicted - Increase', 'Predicted - Increase']
)

# Classification report
target_names = ["No Percent Increase", "Increase"]

# Print the evaluation
print(f"The balanced accuracy score {balanced_accuracy_score(y_test, predictions)}")
print(f"")
print(f"")
display(cm_df)
print(f"")
print(f"")
print(classification_report(y_test, predictions, target_names=target_names))

The balanced accuracy score 0.48

                           Predicted - Increase  Predicted - Increase
Actual - Percent Decrease                     0                     1
Actual - Decrease                             1                    24

                     precision    recall  f1-score   support

No Percent Increase       0.00      0.00      0.00         1
           Increase       0.96      0.96      0.96        25

           accuracy                           0.92        26
          macro avg       0.48      0.48      0.48        26
       weighted avg       0.92      0.92      0.92        26

In [271]:
# Get the feature importance array
importances = rf_model.feature_importances_
# List the top 10 most important features
importances_sorted = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
importances_sorted[:5]

[(0.373134328358209, 'year'),
 (0.34328358208955223, 'Percent increase'),
 (0.2835820895522388, 'Total hourly rates of pay Private and Public'),
 (0.0, 'Quarter')]